* {
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #EFEFEF;
  margin-top: 2rem;
}

footer {
  font-size: 10px;
  background-color: #34BE82;
}

h1{
  font-size: 60px;
  text-align: center;
  color: #051367;
  font-weight: 700;
}

h3 {
  color: #34BE82;
  padding: 1.5rem 0;
}

a{
  text-decoration: none;
}

p{
  color: #92A9BD;
}

.main {
  padding: 1rem 0;
}

.translation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.txt {
  border: solid 1px #051367;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 25rem;
  align-items: center;
  padding: .9rem;
}

.picture {
  width: 100%;
  border: solid 10px #051367;
  border-right: none;
  border-left: none;
  display: block;
  margin: 5rem auto 2rem;
}
