* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #EFEFEF;
  margin-top: 2rem;
}

footer {
  font-size: 12px;
  background-color: #34BE82;
  padding: .5rem 0;
  text-align: center;
  color: #515E63;
  margin-top: 3rem;
}

h1{
  font-size: 60px;
  text-align: center;
  color: #051367;
  font-weight: 700;
}

h3 {
  color: #34BE82;
  padding: 1.5rem 0;
}

a{
  text-decoration: none;
  color: #334257;
}

p{
  color: #92A9BD;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 30px;
  z-index: 99;
  border: solid 1.5px #34BE82;
  border-radius: 10px;
  background-color: #EFEFEF;
  color: #34BE82;
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
}

#topBtn:hover {
  background-color: #515E63;
}

.main {
  padding: 0rem 0;
}

.translation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.txt {
  border: solid 1px #051367;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 25rem;
  align-items: center;
  padding: .9rem;
  margin-bottom: 2rem;
}

.picture {
  width: 100%;
  border: solid 10px #051367;
  border-right: none;
  border-left: none;
  display: block;
  margin: 5rem auto 2rem;
}

@media (max-width: 900px) {

  h1{
    font-size: 25px;
  }

  .main {
    min-width: 390px;
  }

  .translation {
    flex-direction: column;
    align-items: center;
  }

  .txt {
    width: 90%;
    min-width: 380px;
  }

  #topBtn {
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
  }

}
